.nav {
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav .title {
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  color: #fff;
}
.nav img {
  max-width: 33px;
}

.cnt-etiqueta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.cnt-etiqueta .point {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.cnt-etiqueta #economia {
  background-color: #22aa55;
}
.cnt-etiqueta #historia {
  background-color: #F6B40E;
}
.cnt-etiqueta #educacion {
  background-color: #5566aa;
}
.cnt-etiqueta h4 {
  margin: 0;
  font-size: 0.8rem;
  color: #B3B5B7;
}

.cnt-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-article h2 {
  padding-top: 1.8rem;
  margin-bottom: 0;
}

.btn-filtro {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.input-busqueda {
  outline: none;
}

select {
  outline: none;
  border: none;
  background: none;
  color: #B3B5B7;
  font-size: 0.8em;
  margin-right: 1rem;
}
select option:hover {
  color: #B3B5B7;
}

.cnt-filtros {
  width: 100%;
  display: flex;
}
.cnt-filtros .filtro {
  display: flex;
  flex-direction: row;
}
.cnt-filtros .filtro .btn-filtro {
  width: 80px;
  height: 35px;
  border: 2px solid #B3B5B7;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #B3B5B7;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  margin-right: 1rem;
}
.cnt-filtros .busqueda {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cnt-filtros .busqueda input {
  border: none;
  width: 48%;
}
.cnt-filtros .busqueda .btn-busqueda {
  border: none;
  background: none;
  position: relative;
  right: 10px;
}
.cnt-filtros .busqueda .btn-busqueda img {
  max-width: 10px;
}

.accordion {
  margin-top: 5rem;
  overflow: hidden;
}

.cnt-posts {
  margin-top: 5rem;
}

.shadow {
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  height: 20px;
  /* Altura deseada del shadow */
  box-shadow: 0px -15px 10px 0px #1D1D20;
}

hr {
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.cnt-posts {
  height: 100vh;
}

#post {
  position: relative;
  margin-bottom: 1.2rem;
  height: 12.5rem;
  transition: height 0.5s ease-in;
  z-index: 100;
}
#post .panel-heading {
  display: flex;
  justify-content: space-between;
  color: #B3B5B7;
  font-size: 0.8em;
}
#post .panel-heading .autor-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#post .panel-heading .autor-date .autor {
  margin-right: 10px;
}
#post .panel-heading .autor-date .date {
  font-size: 0.8em;
}
#post .cnt-votar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
#post .cnt-votar #historia {
  width: 80px;
  height: 35px;
  border: 2px solid #e2cb75;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
#post .cnt-votar #educacion {
  width: 80px;
  height: 35px;
  border: 2px solid #5566aa;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
#post .cnt-votar #economia {
  width: 80px;
  height: 35px;
  border: 2px solid #22aa55;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
#post .cnt-votar a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#post.active {
  height: 30em;
  transition: height 0.5s ease-in;
}

#errorVotarPost {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
  background: rgba(24, 22, 22, 0.7176470588);
}
#errorVotarPost .cnt-err {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  padding: 0 1rem;
}
#errorVotarPost .cnt-err .err {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
  padding: 1rem;
  transition: background-color 0.2s ease;
}
#errorVotarPost .cnt-err .btn {
  width: 33%;
  height: 44px;
  margin-top: 1rem;
  background-color: #0765D1;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/*media queries desktop*/
@media only screen and (min-width: 991px) {
  .nav {
    height: 15vh;
  }
  .nav img {
    width: 15%;
  }
  .nav .title {
    font-size: 1.5em;
  }
  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cnt-filtros {
    display: flex;
    justify-content: space-evenly;
  }
  #post {
    width: 50%;
  }
  #errorVotarPost .cnt-err {
    left: 36%;
    top: 15%;
  }
}