 
$background: #1D1D20;

$fontFamily: 'Roboto', sans-serif;
$fontFamily2: 'inter', sans-serif;
$hover-color: #04042C;
$fontColor1: #fff;
$fontColor2: #B3B5B7;
//64A5E1
$blue: #64A5E1;
//F6B40E
$yellow: #F6B40E;
//EB1B1B
$red: #EB1B1B;
//FBD039
$yellow2: #FBD039;
//0765D1
$blue2: #0765D1;
//1A660E
$green: #1A660E;
