//import mixins
@import '_mixins.scss';
@import '_variable.scss';
//header top 100% width

.nav {
    //nav return and logo
    @include navRetLogo();


}

.cnt-main {
    display: flex;
    flex-direction: column;

    .cnt-intro {
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        .title {
            margin-bottom: 2px;
            text-align: center;
        }
    }
}


.cnt-opt {
    display: flex;
    flex-direction: column;

    .dropdown-btn {
        border: none;
        border-top: 2px solid $fontColor2;
        border-bottom: 2px solid $fontColor2;
        padding: 1rem;
        text-align: left;
        margin-bottom: 1.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: $fontColor2;
      }

  

    .dropdown-content {
        position: relative;
        bottom: 25px;
        left: 0;
        width: 100%;

        .cont {
            display: flex;
            flex-direction: column;

            a {
                // style a none
                text-decoration: none;
                border-bottom: 1px solid $fontColor2;
                padding: 1rem;
                text-align: left;
                background-color: $black;
                font-weight: 700;
                color: $fontColor2;
            }
        }
    }
}
dropdown-btn .verif{
    color: $green;
}
.verif {
    color: $green;
}
.dropdown-content {
    display: none;
}

